# Practical L2

For the accompanying course - see [Python Module 5]()

## Import packages

In [4]:
import pandas as pd
import numpy as np

## Importing data

In [55]:
data_url = 'https://github.com/beoutbreakprepared/nCoV2019/raw/master/covid19/raw-data/hubei.csv'

hubei = pd.read_csv(data_url)

/Users/hamishgibbs/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (1,2,10,11,13,14,17,18,20,22,23,24) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
dtypes = {'age':'string', 
          'sex':'string', 
          'date_onset_symptoms':'string', 
          'date_admission_hospital':'string', 
          'symptoms':'string',
          'lives_in_wuhan':'string',
          'reported_market_exposure':'string',
          'additional_information':'string',
          'chronic_disease':'string',
          'sequence_available':'string',
          'outcome':'string',
          'date_death_or_discharge':'string'}

In [57]:
hubei = pd.read_csv(data_url, dtype = dtypes)

In [58]:
hubei.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21241 entries, 0 to 21240
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        21241 non-null  int64
 1   age                       235 non-null    string
 2   sex                       99 non-null     string
 3   city                      21208 non-null  object
 4   province                  21241 non-null  object
 5   country                   21241 non-null  object
 6   not_wuhan                 21241 non-null  int64
 7   latitude                  21241 non-null  float64
 8   longitude                 21241 non-null  float64
 9   geo_resolution            21241 non-null  object
 10  date_onset_symptoms       95 non-null     string
 11  date_admission_hospital   41 non-null     string
 12  date_confirmation         20414 non-null  object
 13  symptoms                  39 non-null     string
 14  lives_in_wuhan            39 non-null     string
 15  travel_history_dates      0 non-null      float64
 16  travel_history_location   0 non-null      float64
 17  reported_market_exposure  1 non-null      string
 18  additional_information    61 non-null     string
 19  chronic_disease_binary    22 non-null     float64
 20  chronic_disease           21 non-null     string
 21  source                    21241 non-null  object
 22  sequence_available        2 non-null      string
 23  outcome                   42 non-null     string
 24  date_death_or_discharge   41 non-null     string
 25  notes_for_discussion      0 non-null      float64
 26  location                  0 non-null      float64
 27  admin3                    496 non-null    object
 28  admin2                    20698 non-null  object
 29  admin1                    21226 non-null  object
 30  country_new               21226 non-null  object
 31  admin_id                  21226 non-null  float64
dtypes: float64(8), int64(2), object(10), string(12)
memory usage: 5.2+ MB

## Indices

In [18]:
hubei.index

RangeIndex(start=0, stop=21241, step=1)

## Sorting data

In [19]:
hubei.sort_values('sex')

,id,age,sex,city,province,country,not_wuhan,latitude,longitude,geo_resolution,...,sequence_available,outcome,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id
49,50,15-88,female,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
52,53,15-88,female,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
51,52,15-88,female,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
50,51,15-88,female,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
48,49,15-88,female,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21236,21237,<NA>,<NA>,Jingmen City,Hubei,China,1,31.035400,112.199400,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Jingmen City,Hubei,China,420800.0
21237,21238,<NA>,<NA>,Jingmen City,Hubei,China,1,31.035400,112.199400,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Jingmen City,Hubei,China,420800.0
21238,21239,<NA>,<NA>,Jingmen City,Hubei,China,1,31.035400,112.199400,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Jingmen City,Hubei,China,420800.0
21239,21240,<NA>,<NA>,Enshi Prefecture,Hubei,China,1,30.283333,109.483333,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Enshi Prefecture,Hubei,China,422800.0
21240,21241,<NA>,<NA>,Enshi Prefecture,Hubei,China,1,30.283333,109.483333,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Enshi Prefecture,Hubei,China,422800.0

In [20]:
hubei.sort_values('sex', ascending = False)

,id,age,sex,city,province,country,not_wuhan,latitude,longitude,geo_resolution,...,sequence_available,outcome,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id
0,1,15-88,male,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
30,31,15-88,male,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
32,33,32,male,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,discharged,16.01.2020,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
234,235,81,male,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,died,21.01.2020,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
231,232,36,male,Wuhan City,Hubei,China,0,30.596415,114.279780,point,...,<NA>,died,23.01.2020,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21236,21237,<NA>,<NA>,Jingmen City,Hubei,China,1,31.035400,112.199400,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Jingmen City,Hubei,China,420800.0
21237,21238,<NA>,<NA>,Jingmen City,Hubei,China,1,31.035400,112.199400,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Jingmen City,Hubei,China,420800.0
21238,21239,<NA>,<NA>,Jingmen City,Hubei,China,1,31.035400,112.199400,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Jingmen City,Hubei,China,420800.0
21239,21240,<NA>,<NA>,Enshi Prefecture,Hubei,China,1,30.283333,109.483333,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Enshi Prefecture,Hubei,China,422800.0
21240,21241,<NA>,<NA>,Enshi Prefecture,Hubei,China,1,30.283333,109.483333,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,Enshi Prefecture,Hubei,China,422800.0

In [21]:
hubei.sort_values('sex', ignore_index = True, inplace = True)

In [32]:
hubei.sort_values(['province', 'city', 'sex'], ascending = False)

,id,age,sex,city,province,country,not_wuhan,latitude,longitude,geo_resolution,...,sequence_available,outcome,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id
35,548,65,female,"Yuan'an County, Yichang City",Hubei,China,1,30.692,111.2865,point,...,<NA>,died,23.01.2020,NaN,NaN,Yuan'an County,Yichang City,Hubei,China,420525.0
15285,15286,<NA>,<NA>,Yingmen City,Hubei,China,1,30.692,111.2865,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15286,15287,<NA>,<NA>,Yingmen City,Hubei,China,1,30.692,111.2865,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15287,15288,<NA>,<NA>,Yingmen City,Hubei,China,1,30.692,111.2865,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15288,15289,<NA>,<NA>,Yingmen City,Hubei,China,1,30.692,111.2865,point,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15355,15356,<NA>,<NA>,NaN,Hubei,China,1,31.200,112.3000,admin,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,Hubei,China,420000.0
15356,15357,<NA>,<NA>,NaN,Hubei,China,1,31.200,112.3000,admin,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,Hubei,China,420000.0
15357,15358,<NA>,<NA>,NaN,Hubei,China,1,31.200,112.3000,admin,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,Hubei,China,420000.0
15358,15359,<NA>,<NA>,NaN,Hubei,China,1,31.200,112.3000,admin,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,Hubei,China,420000.0
15725,15726,<NA>,<NA>,NaN,Hubei,China,1,31.200,112.3000,admin,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,Hubei,China,420000.0

## Selecting certain columns

In [33]:
select_columns = ['id', 
                  'age', 
                  'sex', 
                  'city', 
                  'province', 
                  'date_admission_hospital', 
                  'date_confirmation', 
                  'symptoms', 
                  'outcome', 
                  'date_death_or_discharge']

hubei = hubei[select_columns]

In [34]:
hubei

,id,age,sex,city,province,date_admission_hospital,date_confirmation,symptoms,outcome,date_death_or_discharge
0,50,15-88,female,Wuhan City,Hubei,<NA>,20.01.2020,<NA>,<NA>,<NA>
1,53,15-88,female,Wuhan City,Hubei,<NA>,20.01.2020,<NA>,<NA>,<NA>
2,52,15-88,female,Wuhan City,Hubei,<NA>,20.01.2020,<NA>,<NA>,<NA>
3,51,15-88,female,Wuhan City,Hubei,<NA>,20.01.2020,<NA>,<NA>,<NA>
4,49,15-88,female,Wuhan City,Hubei,<NA>,20.01.2020,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...
21236,21237,<NA>,<NA>,Jingmen City,Hubei,<NA>,16.02.2020,<NA>,<NA>,<NA>
21237,21238,<NA>,<NA>,Jingmen City,Hubei,<NA>,16.02.2020,<NA>,<NA>,<NA>
21238,21239,<NA>,<NA>,Jingmen City,Hubei,<NA>,16.02.2020,<NA>,<NA>,<NA>
21239,21240,<NA>,<NA>,Enshi Prefecture,Hubei,<NA>,16.02.2020,<NA>,<NA>,<NA>
21240,21241,<NA>,<NA>,Enshi Prefecture,Hubei,<NA>,16.02.2020,<NA>,<NA>,<NA>

## Parsing date formats

In [36]:
pd.to_datetime(hubei['date_confirmation'])

ParserError: Unknown string format: not sure

In [44]:
hubei['date_confirmation'].unique()

array(['20.01.2020', 'not sure', nan, '18.01.2020', '19.01.2020',
       '23.01.2020', '27.01.2020', '28.01.2020', '29.01.2020',
       '30.01.2020', '31.01.2020', '01.02.2020', '08.02.2020',
       '06.02.2020', '03.02.2020', '22.02.2020', '21.02.2020',
       '18.02.2020', '17.02.2020', '16.02.2020'], dtype=object)

In [45]:
pd.to_datetime(hubei['date_confirmation'], errors = 'ignore')

0        20.01.2020
1        20.01.2020
2        20.01.2020
3        20.01.2020
4        20.01.2020
            ...
21236    16.02.2020
21237    16.02.2020
21238    16.02.2020
21239    16.02.2020
21240    16.02.2020
Name: date_confirmation, Length: 21241, dtype: object

In [46]:
date_cols = ['date_admission_hospital', 'date_confirmation', 'date_death_or_discharge']

hubei[date_cols] = hubei[date_cols].apply(pd.to_datetime, errors = 'ignore')

## Handling missing data

In [48]:
hubei.dropna(axis = 0, subset = ['age'], inplace = True)

In [49]:
hubei['outcome'].replace(np.nan, 'unknown', inplace = True)

In [50]:
hubei['age'] = pd.to_numeric(hubei['age'], errors = 'coerce')
hubei['age'].fillna((hubei['age'].median()), inplace=True)

## regex matching

In [52]:
hubei['city'].value_counts()

Wuhan City                      234
Yuan'an County, Yichang City      1
Name: city, dtype: int64

In [53]:
hubei['city_name'] = hubei['city'].str.extract(r'^([\w\-]+)')
hubei['city_name'].value_counts()

Wuhan    234
Yuan       1
Name: city_name, dtype: int64

In [54]:
hubei['city_name'] = hubei['city'].str.extract(r"(\w*)(?=\s*City)")
hubei['city_name'].value_counts()

Wuhan      234
Yichang      1
Name: city_name, dtype: int64

In [59]:
r"(\w*)\s*(?= {})".format('Hamish')

'(\\w*)\\s*(?= Hamish)'